entrypoint = "index.html"
modules = ["web"]

[nix]
channel = "stable-24_11"
packages = ["static-web-server"]

[deployment]
publicDir = "/"
deploymentTarget = "static"

[workflows]
runButton = "Serve static"

[[workflows.workflow]]
name = "Serve static"
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "static-web-server --port 8080 --root ."
waitForPort = 8080

[[ports]]
localPort = 8080
externalPort = 80

[agent]
expertMode = true
